version: '{branch}-{build}'

environment:
  YARN_GPG: no

  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu1804

cache:
  - node_modules                        # local npm modules
  - '%APPDATA%\npm-cache'               # npm cache

# used on Ubuntu
stack: node 8

install:
  - node --version && yarn --version && python --version
  - sh: sudo apt-get --yes install libx11-dev libxkbfile-dev
  - cmd: yarn
  - sh: yarn

build_script:
  - yarn build && yarn package
